.twitter__contents 
  .twitter__block
    %figure
      = image_tag 'hero.jpg', class: 'icon-photo'
    .twitter__block-text
      .name
        = link_to user_path(tweet.user.id), class: "top_bar__menu--diary" do
          = tweet.user.name
        %span.name_reply
          @usa_tan
      .date
        = tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .text
        = tweet.text
    .menu
      .comment-btn
        = icon('far', 'comment')
      %label{ for: "menu_bar01" }
        = icon('fas', 'ellipsis-h')
      %input.accordion{:type => "checkbox", :id => "menu_bar01" }
      %ul#links01
        %li
          =link_to tweet_path(tweet.id), class: "a", method: :delete do
            削除
            = icon('far', 'trash-alt')
        - if user_signed_in? && current_user.id == tweet.user_id
          %li
            =link_to edit_tweet_path(tweet.id), class: "a", method: :get do
              編集
              = icon('fas', 'highlighter')
          %li
            =link_to tweet_path(tweet.id), class: "a", method: :get do
              詳細
              = icon('far', 'chart-bar')
      
    


          










