.container
  - if user_signed_in?
    = form_with model: [@tweet, @comment], local: true do |f| 
      = f.text_field :text, class: 'text', placeholder: 'type a message'
      = f.label :image, class: 'form-contents__text--img' do
        = icon('far', 'image', class: 'input-box__image')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send'
  - else 
    %strong
      %p
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    