.side_bar
  .profile-card
    .profile-card__inner
    .profile-thumb
      - if @image.url
        = image_tag @image.url
    .profile-content
      %span.profile-name
        = @name
      - if @occupation
        %span.profile-job
          = @occupation
      - if @profile
        %span.profile-intro
          = @profile
    - if current_user.id != @id
      .DM
        = link_to "/chats/#{@id}", class: 'dm' do
          = icon('far', 'envelope', class: 'mail')
          DMへ
    - if current_user.id == @id
      .setting
        = link_to edit_user_path(current_user.id), class: "profile-edit", method: :get do
          プロフィール編集
        = link_to  destroy_user_session_path, class: "logout", method: :delete do
          ログアウト
          = icon('fas', 'user-slash')