.side_bar
  .profile-card
    .profile-card__inner
    .profile-thumb
      - if @image
        = image_tag @image
    .profile-content
      %span.profile-name
        = @name
      - if @occupation
        %span.profile-job
          = @occupation
      - if @profile
        %span.profile-intro
          = @profile
    - if current_user.id != @id
      .DM
        = link_to "/chats/#{@id}", class: 'dm' do
          = icon('far', 'envelope', class: 'mail')
          DMへ