.tweet_index
  .twitter__container
    .twitter__title
      #{@name}さんのDiary
      = icon('fas', 'book')
    = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| 
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" 
      = form.submit "検索", class: "search-btn" 
    .tweet_all 
      - @tweets.each do |tweets|
        %ol
          .tweet_day
            = tweets[0].created_at.to_date
            = icon('far', 'clock')
          .tweet_content
            - tweets.each do |tweet|
              .tweet_show
                %li
                  = icon('fas', 'check', class: "check")
                  - if tweet.text.present?
                    .Tweet__text
                      = simple_format(tweet.text)
                  = image_tag tweet.image.url, class: 'Tweet__image' if tweet.image.present?
        











      
    


          










