!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Memorings
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    .top_bar 
      .top_bar__memoring
        MemoRing
      .top_bar__menu
        - if user_signed_in?
          =link_to tweets_path, class: "top_bar__menu--timeline" do
            TimeLine
          %a{ href: '', class: 'top_bar__menu--chat' }
            Chat
          = link_to user_path(current_user.id), class: "top_bar__menu--diary" do
            Diary
        - if user_signed_in?
          .top_bar__user
            .top_bar__user--icon
              = image_tag current_user.image, class: 'icon-photo'
            .top_bar__user--name
              = current_user.name
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = icon('fas', 'user-slash')
      .menu-trigger
        %span
        %span
        %span
    = yield
