!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Memorings
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/notifications'
    .top_bar 
      .top_bar__memoring
        %span
          .neon.flash
            Memorings
            %span
              Memorings
      .top_bar__menu
        - if user_signed_in?
          = link_to tweets_path, class: "top_bar__menu--timeline" do
            TimeLine
          = link_to chats_index_path, class: "top_bar__menu--chat" do
            Chat
          = link_to user_path(current_user.id), class: "top_bar__menu--diary" do
            MyDiary
        - if user_signed_in?
          .top_bar__user
            .top_bar__user--icon
              - if current_user.image.url
                = image_tag current_user.image.url, class: 'icon-photo'
            .top_bar__user--name
              = current_user.name
      .menu-trigger
        %span
        %span
        %span
    = yield